  /******************************************************************

  Stylesheet: 900px以下のモニタで適用

  ******************************************************************/
.mb-lg {
  margin-bottom: 80px !important;
}
.wrapper {
  padding: 0 16px;
}
.section-title {
  font-size: 1.75rem;
  margin-bottom: 60px;

  &::after {
    width: 80px;
  }
}
%voice-item {
  margin-bottom: 40px;
}
%balloon-text {
  width: 100%;
  margin: 0 0 30px 0;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  padding: 25px 0 0 25px;

  & .hamburger {
    width: 75px;
    height: 75px;

    & span {
      width: 35px;
      left: 21px;

      &:nth-child(1) {
        top: 26px;
      }
      &:nth-child(2) {
        top: 37px;
      }
      &:nth-child(3) {
        top: 48px;
      }
    }

    &.active span:nth-child(1) {
      top: 37px;
      left: 21px;
    }

    &.active span:nth-child(2),
    &.active span:nth-child(3) {
      top: 37px;
    }
  }

  // ナビメニュー
  &__logo {
    top: 25px;
    left: 25px;
  }

  &__menu {
    margin-top: 110px;
  }
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
.mainvisual {
  height: 490px;
  
  &__fade {
    & li {
      width: 100%;

      & img {
        height: 300px;
      }
    }
  }

  &__text {
    /* 両端に16pxづつ余白を作る */
    width: calc(100% - 32px);
    top: 310px;
    left: 16px;
  }

  &__title {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }

  &__btn {
    width: 100%;
  }
}

/*-------------------------------------------
Reason
-------------------------------------------*/
.reason {
  &__bg {
    padding: 40px 0;
  }

  &__slide {
    width: calc(100% - 16px);
  }

  &__title {
    font-size: 1.5rem;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      // 左端の16pxに合わせる
      transform: translateX(16px);
    }
  }
}

/*-------------------------------------------
Voice
-------------------------------------------*/
.voice {
  &__student {
    text-align: center;
  }

  &__left {
    flex-direction: column-reverse;
    align-items: center;

    & .voice__text {
      &::before {
        top: 100%;
        border: 15px solid transparent;
        border-top: 15px solid $cBalloon;
        // ふきだしを中央に揃える
        margin-left: calc(50% - 15px);
      }
    }
  }

  &__right {
    flex-direction: column;
    align-items: center;

    & .voice__text {
      &::before {
        top: 100%;
        border: 15px solid transparent;
        border-top: 15px solid $cBalloon;
        // ふきだしを中央に揃える
        margin-right: calc(50% - 15px);
      }
    }
  }
}

/*-------------------------------------------
Summary
-------------------------------------------*/
.summary {
  &__menu {
    flex-direction: column;

    & li {
      width: 100%;
      padding: 30px;

      &:nth-child(3) {
        margin-bottom: 32px;
      }
    }
  }

  &__title {
    & .ja {
      font-size: 1.5rem;
    }
    & .en {
      font-size: 1rem;
    }
  }
}
